<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Geologica" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa" />
<div id="page">
    <div id="welcome">
        <h1 id="title">Welcome to Portuguese Roots</h1>
        <p class="home-desc">Welcome to our website, where we aim to spread Portuguese culture through the internet!
          Our website is designed to be a one-stop-shop for all things related to Portuguese cultural events.
          We believe that culture is an essential part of our society, and we want to make sure that everyone
          can access and participate in it, regardless of where they are in the world.</p>
        <p class="home-desc">Our website offers a range of features that make managing cultural events a breeze. We provide an
          easy-to-use platform to manage events, tickets, ticket types, places of the event, and users. With
          just a few clicks, you can create an event, set ticket prices, and manage the guest list for the event.
          Our platform also allows you to track sales and revenue, making it easy to keep track of your event's success.</p>
        <p class="home-desc">One of the unique features of our website is that not only do we allow you to manage events, but we also
          provide a platform where users can discover new cultural events happening in their area. We have a comprehensive
          list of upcoming events, ensuring that there is always something new and exciting for our users to experience.</p>
        <p class="home-desc">We take pride in promoting Portuguese culture and heritage through our website. We offer a wide range of cultural
          events, including art, music, dance, and theater. We also promote traditional Portuguese food and drink, with a
          focus on local and traditional dishes to give our users a genuine taste of Portugal.</p>
    </div>
</div>